*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
body{
	background-color: #f0f2f5;
}
.main{
	display: flex;
	height: 550px;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.logo{
	height: auto;
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	right: 30px;
	bottom: 50px;
}
.logo img{
	width: 320px;
	position: relative;
	right: 29px;
	top: 5px;
}
.logo h2{
	font-size: 28px;
	font-weight: lighter;
	
}
.form{
	height: 360px;
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-left: 100px;
	background-color: #ffff;
	border-radius: 10px;
	box-shadow: 0.5px 2px 5px 2px rgb(214, 214, 214);
}
form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
.form form .input{
	width: 360px;
	border-radius: 5px;
	border: 1px solid #bdc0c7;
	padding: 16px 16px;
	margin-top: 15px;
}
.form form .input:focus{
	outline-width: thin;
	outline-style: ridge;
	outline-color: #0866ff;
}
.login{
	width: 360px;
	border-radius: 5px;
	border: none;
	background-color: #0866ff;
	padding: 14px 16px;
	margin-top: 20px;
	color: white;
	font-size: large;
	font-weight: bolder;
}
::placeholder{
	font-size: larger;
}
.forgot-password{
	text-decoration: none;
	color: #0866ff;
	font-size: 15px;
	margin-top: 20px;
}
.forgot-password:hover{
	text-decoration: underline;
}
.line{
	width: 360px;
	height: 1px;
	background-color: #bdc0c7;
	margin: 25px 0px;
}
.new-account{
	text-decoration: none;
	font-weight: bolder;
	background-color: #42b72a;
	color: white;
	width: 200px;
	height: 50px;
	padding: 15px 20px;
	border-radius: 5px;
}
p{
	position: relative;
	top: 50px;
	font-size: 14px;
}
p a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
